.detail {
  border-top: 1px solid rgba(128, 128, 128, 0.5);

  h2 {
    font-size: 1.1rem;
    text-align: left;

    > a {
      display: flex;
      align-items: center;
      background: linear-gradient(to right, rgba(#929292, 0.3) 0%, rgba(#929292, 0) 100%);

      > img {
        width: 50px;
        height: 50px;
        margin-right: 1em;
      }
    }
  }
}

@media (max-width: 767px) {
  .detail {
    h2 {
      font-size: 1rem;
    }
  }
}

.text-else {
  display: block !important;
}
