@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.radio-group {
  label {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5em;
    cursor: pointer;

    input[type='radio'] {
      margin: 0;

      + span {
        display: inline-block;
        opacity: 0.5;
        font-weight: bolder;
        font-size: 0.9em;
        text-indent: 0.5em;
      }

      &:checked {
        + span {
          opacity: 1;
        }
      }
    }

    &.disabled {
      cursor: default;
      pointer-events: none;

      input[type='radio'] {
        + span {
          opacity: 0.25;
        }
      }
    }
  }
}

.prefix-text {
  display: flex;
  align-items: baseline;
}

.common-detail {
  display: flex;
  overflow: hidden;
  max-height: 300px;
  opacity: 1;
  text-align: left;
  @include transition((max-height, opacity));

  > div {
    margin: 0.5rem 0;

    &.detail-image {
      width: 200px;
      height: 100px;

      > img {
        display: block;
        height: 100px;
        margin: 0 auto;
        cursor: pointer;
      }
    }

    &.detail-text {
      flex: 1;
      padding-left: 1rem;

      h1 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1rem;
        padding-right: 3em;
      }

      .text-main {
        position: relative;
        margin: 0 0 0.5rem;

        small {
          display: inline-block;
          margin-top: 0.5em;
          opacity: 0.4;
          font-size: 0.7em;
        }
      }

      ul.text-else {
        margin-top: 0;
        opacity: 0.5;
        font-size: 0.8rem;

        > li {
          display: flex;
          margin: 0 0 0.2rem;
          font-size: 0.9rem;

          > b {
            display: inline-block;
            width: 3.5rem;
          }
        }
      }
    }
  }

  &.hidden {
    max-height: 0;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .common-detail {
    > div {
      &.detail-image {
        display: none !important;
      }

      &.detail-text {
        h1 {
          font-size: 1.2rem;
        }

        h3 {
          font-size: 0.8rem;
        }
      }
    }

    ul {
      display: none;
    }
  }
}
