@use '@/styles/variables.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba($root-textColor, 0.87);
  background-color: $root-bgColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $root-textColor-light;
    background-color: $root-bgColor-light;
  }

  a:hover {
    color: #747bff;
  }
}

@media (min-width: 1200px) {
  #app {
    width: 1200px;
  }
}

.prefix-text {
  display: flex;
}

.radio-group {
  label {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5em;
    cursor: pointer;

    input[type='radio'] {
      margin: 0;

      + span {
        display: inline-block;
        opacity: 0.5;
        font-weight: bolder;
        font-size: 0.8em;
        text-indent: 0.5em;
      }

      &:checked {
        + span {
          opacity: 1;
        }
      }
    }

    &.disabled {
      cursor: default;
      pointer-events: none;

      input[type='radio'] {
        + span {
          opacity: 0.25;
        }
      }
    }
  }
}
