@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba($root-textColor, 0.87);
  background-color: $root-bgColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $root-textColor-light;
    background-color: $root-bgColor-light;
  }

  a:hover {
    color: #747bff;
  }
}

@media (min-width: 1200px) {
  #app {
    width: 1200px;
  }
}
