$root-bgColor: #242424;
$root-textColor: white;
$root-linkColor: #646cff;

$root-bgColor-light: white;
$root-textColor-light: #213547;

/* --------- header --------- */

$header-bgColor: #E60012;
$header-textColor: white;
$header-bgColor-detail: #dcdbdb;
$header-textColor-detail: #958889;

$header-bgColor-detail-light: #333333;
$header-textColor-detail-light: white;

/* --------- footer --------- */

$footer-bgColor: black;

$footer-bgColor-light: #eee;

/* --------- side-nav --------- */

$sideNav-bgColor: #c4c4c4;

$sideNav-bgColor-light: #E60012;
